[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "http://192.168.1.102/python-packages"
verify_ssl = false
name = "ermin"

[packages]
paho-mqtt = "==1.6.1"
yoctopuce = "==1.10.45664"
metfuncs = {version="1.0.29", index="ermin"}
metminifuncs = {version="1.0.7", index="ermin"}

[dev-packages]

[requires]
python_version = "3.7"
